@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

.container .pc-hidden {
    display: none;
}

.container .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #9E9E9E;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    background-color: #fff;
    box-shadow: 0px 2px 12px #888888;
    z-index: 999;
}

.container .header h3 {
    font-size: 28px;
    font-weight: 300;
}

.container .header h3:after {
    content: "CTUT";
    font-weight: 500;
}

.container .header .nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav-menu ul li {
    padding-left: 50px;
    transition: all 0.5s;
}

.container .header .nav-menu ul li a {
    color: #000;
    transition: all 0.5s;
}

.container .header .nav-menu ul li:hover {
    transform: translateY(-10px);
}

.container .header .nav-menu ul li:hover a {
    color: #9E9E9E;
}

.container .sticky {
    background: #fff;
    padding: 20px 10%;
}

.container .banner {
    margin-top: 90px;
    width: 100%;
    height: 20vh;
    position: relative;
    border-bottom: 1px solid #000;
    background-image: url("https://ctuet.edu.vn/View/assets/images/banner_test.jpg");
    background-size: cover;
}

.container .footer {
    padding: 100px 5%;
    font-weight: 200;
    background-image: url("https://wallpaperaccess.com/full/1426875.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.container .footer .footer-left p,
.container .footer .footer-right p {
    font-weight: 400;
    font-size: 17px;
    padding: 10px 0px;
}

.container .footer .footer-right {
    text-align: right;
}

@media screen and (max-width: 1050px) {
    .container .pc-hidden {
        display: block;
    }
    .container .mobile-hidden {
        display: none;
    }
    .container .tablet-show {
        display: block;
    }
    .container .header {
        padding: 35px 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s;
        background-color: #fff;
        z-index: 999;
    }
    .container .header h3 {
        font-size: 24px;
        font-weight: 300;
    }
    .container .header h3:after {
        content: "CTUT";
        font-weight: 500;
    }
    .container .sticky {
        background: #fff;
        padding: 20px 5%;
    }
    .container .banner {
        margin-top: 90px;
        width: 100%;
        height: 20vh;
        position: relative;
        border-bottom: 1px solid #000;
        background-image: url("https://ctuet.edu.vn/View/assets/images/banner_test.jpg");
        background-size: cover;
    }
    .container .footer {
        padding: 100px 5%;
        font-weight: 200;
        background-image: url("https://wallpaperaccess.com/full/1426875.jpg");
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    .container .footer .footer-left p,
    .container .footer .footer-right p {
        font-weight: 400;
        font-size: 17px;
        padding: 10px 0px;
    }
    .container .footer .footer-right {
        margin-top: 20px;
        text-align: left;
    }
}